{% extends 'base.html' %}

{% block content %}
<!-- content -->
<div class="card col-md-4">
    <div class="card-header">
        상세 항목 목록 - {{ todo.todo_text }}
    </div>
    <ul class="list-group list-group-flush" id="itemList">
        {% if todo.author.id == user.id %}
        <!-- 입력 폼 -->
        <li class="list-group-item">
            <form class="row" id="formCreate">
                <div class="col-auto">
                    <input type="text" class="form-control" placeholder="상세 항목 입력" name="item_text" id="itemText">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" id="btnCreate">등록</button>
                </div>
            </form>
        </li>
        <!--// 입력 폼 -->
        {% endif %}
        
        <!-- 상세 항목 목록 -->
        {% if todo.item_set.all %}
            {% for item in todo.item_set.all %}
                <li class="list-group-item" id="li{{ item.id }}">
                    <div class="d-flex">
                        <div class="me-auto">
                            <span id="spanText{{ item.id }}" class="span-item-text">{{ item.item_text }}</span>
                            <input type="text" class="form-control d-none input-text{{ item.id }} input-item-text" placeholder="상세 항목 입력" name="item_text" value="{{ item.item_text }}">
                        </div>
                        {% if item.author.id == user.id %}
                        <div class="btn-group btn-update-delete{{ item.id }}">
                            <button type="button" class="btn btn-warning" onclick="update({{ item.id }})">수정</button>
                            <button type="button" class="btn btn-danger" onclick="deleteConfirm({{ item.id }})">삭제</button>
                        </div>
                        <div class="btn-group d-none div-btn-cancel{{ item.id }}">
                            <button type="button" class="btn btn-primary" onclick="updateConfirm({{ item.id }})">확인</button>
                            <button type="button" class="btn btn-danger" onclick="cancel({{ item.id }})">취소</button>
                        </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        {% endif %}
        <!--// 상세 항목 목록 -->                
        
    </ul>             
</div>
<!--// content -->
{% endblock %}

{% block script %}
<script>
    // 쿠키 정보 가져오기
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // 쿠키에서 CSRF 토큰 가져오기
    const csrftoken = getCookie('csrftoken');

    // AJAX 요청 헤더 설정(CSRF 토큰 추가)
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // 등록
    $('#btnCreate').on('click', function () {
        // 변수 선언
        let itemText = $('#itemText');

        // 입력 내용 확인
        if (itemText.val() == '') {
            alert('상세 항목을 입력하세요.');
            itemText.focus();
        } else {
            let data = JSON.stringify({
                'item_text': itemText.val(),
            });

            // itemText.val()를 /todo/<todo_id>/create/로 보내기
            $.ajax({
                url: '/todo/{{ todo.id }}/create/',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: data,
                success: function (response) {
                    let id = response.id;
                    let item_text = response.item_text;

                    // 추가한 상세 항목을 li로 만들어서 ul에 추가
                    let li = '<li class="list-group-item" id="li' + id + '">';
                        li += '<div class="d-flex">';
                        li += '<div class="me-auto">';
                        li +='<span id="spanText' + id + '" class="span-item-text">' + item_text + '</span>';
                        li += '<input type="text" class="form-control d-none input-text' + id + ' input-todo-text" placeholder="상세 항목 입력" name="item_text" value="' + itemText.val() + '">';
                        li += '</div>';
                        li += '<div class="btn-group btn-update-delete' + id + '">';
                        li += '<button type="button" class="btn btn-warning" onclick="update(' + id + ')">수정</button>';
                        li += '<button type="button" class="btn btn-danger" onclick="deleteConfirm(' + id + ')">삭제</button>';
                        li += '</div>';
                        li += '<div class="btn-group d-none div-btn-cancel' + id + '">';
                        li += '<button type="button" class="btn btn-primary" onclick="updateConfirm(' + id + ')">확인</button>';
                        li += '<button type="button" class="btn btn-danger" onclick="cancel(' + id + ')">취소</button>';
                        li += '</div>';
                        li += '</div>';
                        li += '</li>';
                
                    // li를 추가
                    $('#itemList').append(li);

                    // itemText 내용 비우기
                    itemText.val('');

                    // .span-item-text는 전부 보이기
                    $('.span-item-text' ).removeClass('d-none');

                    // .input-item-text는 전부 숨기기
                    $('.input-item-text' ).addClass('d-none');
                },
                error: function () {
                    alert('오류');
                },
            });
        }
    });

    // 수정
    function update(id) {
        // .span-item-text는 전부 보이기
        $('.span-item-text' ).removeClass('d-none');

        // .input-item-text는 전부 숨기기
        $('.input-item-text' ).addClass('d-none');

        // id에 해당하는 span태그를 숨기기
        $('#spanText' + id).addClass('d-none');

        // id에 해당하는 input태그를 보이기
        $('.input-text' + id).removeClass('d-none');

        // 수정, 삭제 버튼 숨기기
        $('.btn-update-delete' + id).addClass('d-none');

        // 확인, 취소 버튼 보이기
        $('.div-btn-cancel' + id).removeClass('d-none');
    }

    // 수정 확인
    function updateConfirm(id) {
        // 변수 선언
        let itemText = $('.input-text' + id);

        // 입력 내용 확인
        if (itemText.val() == '') {
            alert('상세 항목을 입력하세요.');
            itemText.focus();
        } else {
            let data = JSON.stringify({
                'item_text': itemText.val(),
            });

            // itemText.val()를 /todo/<todo_id>/<item_id>/update/ 로 보내기
            $.ajax({
                url: '/todo/{{ todo.id }}/' + id + '/update/',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: data,
                success: function (response) {
                    let id = response.id;
                    let item_text = response.item_text;

                    // 수정한 할일 내용으로 바꿔주기
                    $('#spanText' + id).text(item_text);

                    // .span-item-text는 전부 보이기
                    $('.span-item-text' ).removeClass('d-none');

                    // .input-item-text는 전부 숨기기
                    $('.input-item-text' ).addClass('d-none');

                    // 수정, 삭제 버튼 숨기기
                    $('.btn-update-delete' + id).removeClass('d-none');

                    // 확인, 취소 버튼 보이기
                    $('.div-btn-cancel' + id).addClass('d-none');
                },
                error: function () {
                    alert('오류');
                },
            });
        }
    }

    // 수정 취소
    function cancel(id) {
        // .span-item-text는 전부 보이기
        $('.span-item-text' ).removeClass('d-none');

        // .input-item-text는 전부 숨기기
        $('.input-item-text' ).addClass('d-none');

        // 수정, 삭제 버튼 숨기기
        $('.btn-update-delete' + id).removeClass('d-none');

        // 확인, 취소 버튼 보이기
        $('.div-btn-cancel' + id).addClass('d-none');
    }

    // 삭제
    function deleteConfirm(id) {
        if (confirm('정말로 삭제하시겠습니까?')) {
            // /todo/<todo_id>/<item_id>/delete/ 로 보내기
            $.ajax({
                url: '/todo/{{ todo.id }}/' + id + '/delete/',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({}),
                success: function (response) {
                    // .span-item-text는 전부 보이기
                    $('.span-item-text' ).removeClass('d-none');

                    // .input-item-text는 전부 숨기기
                    $('.input-item-text' ).addClass('d-none');

                    // 상세 항목 삭제하기
                    $('#li' + id).remove();
                },
                error: function () {
                    alert('오류');
                },
            });
        } else {
            return;
        }
    }
</script>
{% endblock %}