<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>할일</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style>
            body {
                margin-top: 50px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <!-- content -->
            <div class="card col-md-4">
                <div class="card-header">
                    할일 목록
                </div>
                <ul class="list-group list-group-flush">
                    <!-- 입력 폼 -->
                    <li class="list-group-item">
                        <form class="row" id="formCreate">
                            <div class="col-auto">
                                <input type="text" class="form-control" placeholder="할일 입력" name="todo_text" id="todo_text">
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary" id="btnCreate">등록</button>
                            </div>
                        </form>
                    </li>
                    <!--// 입력 폼 -->
                    
                    <!-- 할일 목록 -->
                    <li class="list-group-item">
                        <div class="d-flex">
                            <div class="me-auto">
                                <a href="{% url 'todo:detail' todo.id %}">
                                    {{ todo.todo_text }}
                                </a>
                            </div>
                            <div>
                                <button type="button" class="btn btn-warning btn-sm">수정</button>
                                <button type="button" class="btn btn-danger btn-sm">삭제</button>
                            </div>
                        </div>
                    </li>
                    <!--// 할일 목록 -->
                    
                </ul>                    
            </div>
            <!--// content -->
        </div>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
