{% extends 'base.html' %}

{% block content %}
<!-- content -->
<div class="card col-md-4">
    <div class="card-header">
        할일 목록
    </div>
    <ul class="list-group list-group-flush" id="todoList">
        <!-- 입력 폼 -->
        <li class="list-group-item">
            <form class="row" id="formCreate">
                <div class="col-auto">
                    <input type="text" class="form-control" placeholder="할일 입력" name="todo_text" id="todoText">
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-primary" id="btnCreate">등록</button>
                </div>
            </form>
        </li>
        <!--// 입력 폼 -->
        
        <!-- 할일 목록 -->
        {% if todoList %}
            {% for todo in todoList %}
                <li class="list-group-item">
                    <div class="d-flex">
                        <div class="me-auto">
                            <span id="text{{ todo.id }}">{{ todo.todo_text }}</span>
                            <input type="text" class="form-control d-none input{{ todo.id }}" placeholder="할일 입력" name="todo_text" value="{{ todo.todo_text }}">
                        </div>
                        <div class="btn-group btn-update-delete{{ todo.id }}">
                            <button type="button" class="btn btn-warning" onclick="update({{ todo.id }})">수정</button>
                            <button type="button" class="btn btn-danger" onclick="delete({{ todo.id }})">삭제</button>
                        </div>
                        <div class="btn-group d-none div-btn-cancel{{ todo.id }}">
                            <button type="button" class="btn btn-primary" onclick="updateConfirm({{ todo.id }})">확인</button>
                            <button type="button" class="btn btn-danger" onclick="cancel({{ todo.id }})">취소</button>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {% endif %}
        <!--// 할일 목록 -->                
        
    </ul>                    
</div>
<!--// content -->
{% endblock %}

{% block script %}
<script>
    // 쿠키 정보 가져오기
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // 쿠키에서 CSRF 토큰 가져오기
    const csrftoken = getCookie('csrftoken');

    // AJAX 요청 헤더 설정(CSRF 토큰 추가)
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // 등록
    $('#btnCreate').on('click', function () {
        // 변수 선언
        let todoText = $('#todoText');

        // 입력 내용 확인
        if (todoText.val() == '') {
            alert('할일을 입력하세요.');
            todoText.focus();
        } else {
            let data = JSON.stringify({
                'todo_text': todoText.val(),
            });

            // todoText.val()를 /todo/create/로 보내기
            $.ajax({
                url: '/todo/create/',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: data,
                complete: function (xhr, status) {
                    // toDoText 내용 비우기
                    todoText.val('');
                },
                success: function (response) {
                    // console.log(response);
                    let id = response.id;
                    let todo_text = response.todo_text;

                    // 추가한 할일을 li로 만들어서 ul에 추가
                    let li = '<li class="list-group-item">';
                        li += '<div class="d-flex">';
                        li += '<div class="me-auto">';
                        li += '<span id="text' + id + '">' + todo_text + '</span>';
                        li += '<input type="text" class="form-control d-none input' + id + '" placeholder="할일 입력" name="todo_text" value="' + todoText.val() + '">';
                        li += '</div>';
                        li += '<div class="btn-group btn-update-delete' + id + '">';
                        li += '<button type="button" class="btn btn-warning" onclick="update(' + id + ')">수정</button>';
                        li += '<button type="button" class="btn btn-danger" onclick="delete(' + id + ')">삭제</button>';
                        li += '</div>';
                        li += '<div class="btn-group d-none div-btn-cancel' + id + '">';
                        li += '<button type="button" class="btn btn-primary" onclick="updateConfirm(' + id + ')">확인</button>';
                        li += '<button type="button" class="btn btn-danger" onclick="cancel(' + id + ')">취소</button>';
                        li += '</div>';
                        li += '</div>';
                        li += '</li>';
                
                        // li를 추가
                        $('#todoList').append(li);
                },
                error: function () {
                    alert('오류');
                },
            });
        }
    });

    function update(id) {
        $('#text' + id).addClass('d-none');
        $('.btn-update-delete' + id).addClass('d-none');
        $('.input' + id).removeClass('d-none');
        $('.div-btn-cancel' + id).removeClass('d-none');
    }

    function cancel(id) {
        $('#text' + id).removeClass('d-none');
        $('.btn-update-delete' + id).removeClass('d-none');
        $('.input' + id).addClass('d-none');
        $('.div-btn-cancel' + id).addClass('d-none');
    }
</script>
{% endblock %}